In [55]:
no_of_students=int(input('Enter the no of students:'))
subjects=['Tamil','English','maths','science','social']
entire_class=[]
for i in  range(1,(no_of_students+1)):
    student_info=[]
    roll_number=int(input('Enter the Roll number'))
    student_info.append(roll_number)
    for subject in subjects: 
        fa=int(input(f'Enter the FA for {subject}'))
        student_info.append(fa)
        if(fa>=37) and (fa<=40):
            student_info.append('A1')
        elif(fa>=33) and (fa<=36):
            student_info.append('A2')
        elif(fa>=29) and (fa<=32):
            student_info.append('B1')
        elif(fa>=25) and (fa<=28):
            student_info.append('B2')
        elif(fa>=21) and (fa<=24):
            student_info.append('C1')
        elif(fa>=17) and (fa<=20):
            student_info.append('C2')
        elif(fa>=13) and (fa<=16):
            student_info.append('D')
        elif(fa>=9) and (fa<=12):
            student_info.append('E1')
        elif (fa<=8):
            student_info.append('E2')
        sa=int(input(f'Enter the SA for {subject}'))
        student_info.append(sa)
        if(sa>=55) and (sa<=60):
            student_info.append('A1')
        elif(sa>=49) and (sa<=54):
            student_info.append('A2')
        elif(sa>=43) and (sa<=48):
            student_info.append('B1')
        elif(sa>=37) and (sa<=42):
            student_info.append('B2')
        elif(sa>=31) and (sa<=36):
            student_info.append('C1')
        elif(sa>=25) and (sa<=30):
            student_info.append('C2')
        elif(sa>=19) and (sa<=24):
            student_info.append('D')
        elif(sa>=13) and (sa<=18):
            student_info.append('E1')
        elif (sa<=12):
            student_info.append('E2')
        total=fa+sa
        student_info.append(total)
        if(total>=91) and (total<=100):
            student_info.append('A1')
        elif(total>=81) and (total<=90):
            student_info.append('A2')
        elif(total>=71) and (total<=80):
            student_info.append('B1')
        elif(total>=61) and (total<=70):
            student_info.append('B2')
        elif(total>=51) and (total<=60):
            student_info.append('C1')
        elif(total>=41) and (total<=50):
            student_info.append('C2')
        elif(total>=33) and (total<=40):
            student_info.append('D')
        elif(total>=21) and (total<=32):
            student_info.append('E1')
        elif (total<=20):
            student_info.append('E2')
    entire_class.append(student_info)

Enter the no of students:3
Enter the Roll number1
Enter the FA for Tamil40
Enter the SA for Tamil54
Enter the FA for English40
Enter the SA for English32
Enter the FA for maths36
Enter the SA for maths18
Enter the FA for science37
Enter the SA for science34
Enter the FA for social40
Enter the SA for social29
Enter the Roll number2
Enter the FA for Tamil40
Enter the SA for Tamil34
Enter the FA for English36
Enter the SA for English20
Enter the FA for maths36
Enter the SA for maths19
Enter the FA for science34
Enter the SA for science17
Enter the FA for social35
Enter the SA for social27
Enter the Roll number3
Enter the FA for Tamil40
Enter the SA for Tamil54
Enter the FA for English33
Enter the SA for English32
Enter the FA for maths36
Enter the SA for maths37
Enter the FA for science31
Enter the SA for science23
Enter the FA for social39
Enter the SA for social25

In [56]:
import pandas as pd
pd.options.display.max_columns = 50
df=pd.DataFrame(entire_class,columns=['Roll Number','THAMIZH FA','THAMIZH FA GRADE','THAMIZH SA','THAMIZH SA GRADE','THAMIZH TOTAL','THAMIZH TOTAL GRADE',
                                       'ENGLISH FA','ENGLISH FA GRADE','ENGLISH SA','ENGLISH SA GRADE','ENGLISH TOTAL','ENGLISH TOTAL GRADE',
                                       'MATHS FA','MATHS FA GRADE','MATHS SA','MATHS SA GRADE','MATHS TOTAL','MATHS TOTAL GRADE',
                                       'SCIENCE FA','SCIENCE FA GRADE','SCIENCE SA','SCIENCE SA GRADE','SCIENCE TOTAL','SCIENCE TOTAL GRADE',
                                       'SOCIAL FA','SOCIAL FA GRADE','SOCIAL SA','SOCIAL SA GRADE','SOCIAL TOTAL','SOCIAL TOTAL GRADE'])
df

,Roll Number,THAMIZH FA,THAMIZH FA GRADE,THAMIZH SA,THAMIZH SA GRADE,THAMIZH TOTAL,THAMIZH TOTAL GRADE,ENGLISH FA,ENGLISH FA GRADE,ENGLISH SA,ENGLISH SA GRADE,ENGLISH TOTAL,ENGLISH TOTAL GRADE,MATHS FA,MATHS FA GRADE,MATHS SA,MATHS SA GRADE,MATHS TOTAL,MATHS TOTAL GRADE,SCIENCE FA,SCIENCE FA GRADE,SCIENCE SA,SCIENCE SA GRADE,SCIENCE TOTAL,SCIENCE TOTAL GRADE,SOCIAL FA,SOCIAL FA GRADE,SOCIAL SA,SOCIAL SA GRADE,SOCIAL TOTAL,SOCIAL TOTAL GRADE
0,1,40,A1,54,A2,94,A1,40,A1,32,C1,72,B1,36,A2,18,E1,54,C1,37,A1,34,C1,71,B1,40,A1,29,C2,69,B2
1,2,40,A1,34,C1,74,B1,36,A2,20,D,56,C1,36,A2,19,D,55,C1,34,A2,17,E1,51,C1,35,A2,27,C2,62,B2
2,3,40,A1,54,A2,94,A1,33,A2,32,C1,65,B2,36,A2,37,B2,73,B1,31,B1,23,D,54,C1,39,A1,25,C2,64,B2

In [57]:
df.to_csv('grades.csv')

In [43]:
student_info=[]
for subject in subjects: 
    fa=int(input(f'Enter the FA for {subject}'))
    student_info.append(fa)
    if(fa>=37) and (fa<=40):
        student_info.append('A1')
    elif(fa>=33) and (fa<=36):
        student_info.append('A2')
    elif(fa>=29) and (fa<=32):
        student_info.append('B1')
    elif(fa>=25) and (fa<=28):
        student_info.append('B2')
    elif(fa>=21) and (fa<=24):
        student_info.append('C1')
    elif(fa>=17) and (fa<=20):
        student_info.append('C2')
    elif(fa>=13) and (fa<=16):
        student_info.append('D')
    elif(fa>=9) and (fa<=12):
        student_info.append('E1')
    elif (fa<=8):
        student_info.append('E2')
    sa=int(input(f'Enter the SA for {subject}'))
    student_info.append(sa)
    if(sa>=55) and (sa<=60):
        student_info.append('A1')
    elif(sa>=49) and (sa<=54):
        student_info.append('A2')
    elif(sa>=43) and (sa<=48):
        student_info.append('B1')
    elif(sa>=37) and (sa<=42):
        student_info.append('B2')
    elif(sa>=31) and (sa<=36):
        student_info.append('C1')
    elif(sa>=25) and (sa<=30):
        student_info.append('C2')
    elif(sa>=19) and (sa<=24):
        student_info.append('D')
    elif(sa>=13) and (sa<=18):
        student_info.append('E1')
    elif (sa<=12):
        student_info.append('E2')
    total=fa+sa
    student_info.append(total)
    if(total>=91) and (total<=100):
        student_info.append('A1')
    elif(total>=81) and (total<=90):
        student_info.append('A2')
    elif(total>=71) and (total<=80):
        student_info.append('B1')
    elif(total>=61) and (total<=70):
        student_info.append('B2')
    elif(total>=51) and (total<=60):
        student_info.append('C1')
    elif(total>=41) and (total<=50):
        student_info.append('C2')
    elif(total>=33) and (total<=40):
        student_info.append('D')
    elif(total>=21) and (total<=32):
        student_info.append('E1')
    elif (total<=20):
        student_info.append('E2')

Enter the FA for Tamil31
Enter the SA for Tamil41
Enter the FA for English32
Enter the SA for English42
Enter the FA for maths33
Enter the SA for maths43
Enter the FA for science34
Enter the SA for science44
Enter the FA for social35
Enter the SA for social45

In [44]:
student_info

[31,
 'B1',
 41,
 'fuck2',
 72,
 'B1',
 32,
 'B1',
 42,
 'fuck2',
 74,
 'B1',
 33,
 'A2',
 43,
 'B1',
 76,
 'B1',
 34,
 'A2',
 44,
 'B1',
 78,
 'B1',
 35,
 'A2',
 45,
 'B1',
 80,
 'B1']